<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot05.mybatis.mapper.blog.QrtzLocksMapper">

    <select id="getQrtzLocks" resultType="com.example.springboot05.mybatis.entity.QrtzLocks">
        select * from qrtz_locks
    </select>
</mapper>
